<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All Products</title>
</head>
<body>
<h1>All My Products </h1>
{% for key in products %}
<h1> {{products[key].name}} </h1>
<img src={{ products[key].image}} width="250" height="250">
<h3> ${{products[key].price}} per lb </h3>
<p> {{products[key].price_id}} </p>
<form action="/cart" method="post">
  <input type="number" name="quantity" min="1" max="20">
  <input type="hidden" name="price" value={{products[key].price_id}}>
  <input type="submit" value="Add to Cart">
</form>

{% endfor %}
</body>

</html>

